.about {
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0 5px 10px black;
    min-height: 400px;
}

input {
    width: 320px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 4px;
}

.addBtn {
    width: 120px;
    background-color: blue;
    color: white;
    padding: 4px 8px;
    border-radius: 10px;

}

.about ul li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid black;
    margin: 10px auto;
    width: 80%;
    align-items: center;
}